.container {
    /* display: flex; */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
}


.search-container {
    display: flex;
    margin: 2rem 0;
}

.inp-box {
    margin: auto;
}

.inp {
    width: 20rem;
    height: 2rem;
    padding: 10px 22px;
    font-size: 22px;
    border-radius: 20px;
    border: 2px solid gray;
}

.item {
    width: 11rem;
    height: 22rem;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(64, 77, 148, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    transition: all .25s ease-in-out;

}

.image-box {
    width: 80%;
    height: 15rem;
}

.image {
    width: 100%;
    height: 100%;
}

.item-details {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.item-name {
    color: #224957;
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 8px 0;
}

.item-name p {
    margin: 0;
}

.item-price {
    color: #224957;
    font-weight: 700;
    font-size: 24px;
    padding: 8px 0;
}

.item-price p {
    margin: 0;
}

.btn {
    background-color: #7064e5;
    border: 1px solid #7064e5;
    color: #fff;
    cursor: pointer;
    height: 2.25rem;
    width: 100%;
    border-radius: 11px;
    font-size: 1.2rem;
}