.bar{
    display: flex;
    width: 270px;
    height: 22px;
    justify-content: space-between;
    flex-direction: row;
    background-color: aquamarine;
}

.battery{
    height: 20px;
    width: 20px;
    align-items: center;
}

/*  */
 
.heading{
    margin:  1px 5px;
}

.time{
    margin:  1px 5px;
    
}